@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

/* Estilos Generales */

body {
    font-family:"Roboto Condensed", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #34495E;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #2471A3;
    color: #4e91ee;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

main {
    padding: 10px;
    flex: 1;
    text-align: justify;
}

/* Menú Principal */
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar nav ul ol.logo {
    margin: 0 auto;
}

.navbar nav ul ol.logo img {
    height: 80px;
    width: auto;
}

.navbar1 {
    background-color: #2471A3;
}

.navbar1 nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
}

.navbar1 nav ul ol {
    margin-right: 20px;
}

.navbar1 nav ul ol a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 4px;
    background-color: #2471A3;
    transition: background-color 0.3s, color 0.3s;
}

.navbar1 nav ul ol a:hover {
    background-color: #f0f0f0;
    color: #2E4053;
}

/* Estilos Inicio */

h1{
    color:white;
}

.infoContainer {
    background-color: #fff;
    border: 2px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    max-width: 600px;
    margin: 50px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.infoContainer:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.infoContainer h2 {
    color: #333;
    margin-bottom: 10px;
    font-size: 2em;
}

.infoContainer p {
    color: #666;
    line-height: 1.6;
    margin-bottom: 20px;
}

.videoContainer {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #000;
    border-radius: 10px;
}

.videoContainer iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.cursoPrincipal{
    margin-top: 50px;
    margin-right: 20px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.course {
    width: 70%; 
    max-width: 600px; 
    background-color: rgb(255, 255, 255);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    text-align: center; 
}

.course:hover {
    transform: scale(1.05);
}

.course h2 {
    margin-top: 0;
}

.course ul {
    list-style-type: none;
    padding: 0;
}

.course ol {
    margin-bottom: 20px;
}

.course a {
    text-decoration: none;
    color: #2E4053;
    font-weight: bold;
}

.course a:hover {
    text-decoration: underline;
}

.button {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background-color: #3a89bd;
    padding: 10px 20px;
    margin: 10px 0;
    border-radius: 8px;
    transition: background-color 0.3s;
    text-align: center;
}

.button:hover {
    background-color: #f0f0f0;
    color: #2E4053;
}



.footer {
    background-color: #154360;
    color: white;
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.footer .contactos{
    color: #ddd;
}

.logoFoo {
    text-align: center; 
    margin-top: 75px; 
    position: relative; 
    top: -50px; 
    margin-right: 35px;
}

.logoFoo img {
    width: 200px; 
    height: auto; 
}

.github-link {
    color: white; 
    text-decoration: none; 
}

.github-link:hover {
    background-color: white; 
    color: black; 
    padding: 2px; 
}

.footer .column {
    flex: 1;
    padding: 10px;
    min-width: 200px;
    box-sizing: border-box;
}

.footer .column h3 {
    border-bottom: 2px solid #FBFCFC;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.footer .column ul {
    list-style: none;
    padding: 0;
}

.footer .column ul li {
    margin-bottom: 10px;
}

.footer .column ul li a {
    color: white;
    text-decoration: none;
}

.footer .column ul li a:hover {
    text-decoration: underline;
}

.footer .social-icons {
    display: flex;
    justify-content: left;
    margin-top: 20px;
    gap: 12px;
}

.footer .social-icons a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 20px;
}

.footer .social-icons a:hover {
    color: #ddd;
}

.footer-bottom {
    background-color: #222;
    color: #ccc;
    text-align: center;
    padding: 10px 0;
}

@media (max-width: 600px) {
    .footer .column {
        flex-basis: 100%;
    }
}


